/* MediaQuery */
@ScreenSmallMin: 360px 640px; /* For smart phones. */
@ScreenMediumMin: 768px 1024px; /* For tablets. */
@ScreenLargeMin: 1366px 768px; /* For desktops. */
.screen-small(@Rules) {
    @media screen and (
        min-width: extract(@ScreenSmallMin, 0);
        min-height: extract(@ScreenSmallMin, 1);
    ) { @Rules(); }
}
.screen-medium(@Rules) {
    @media screen and (
        min-width: extract(@ScreenMediumMin, 0);
        min-height: extract(@ScreenMediumMin, 1);
    ) { @Rules(); }
}
.screen-large(@Rules) {
    @media screen and (
        min-width: extract(@ScreenLargeMin, 0);
        min-height: extract(@ScreenLargeMin, 1);
    ) { @Rules(); }
}

/* Style settings */
@HeaderPosition: sticky;
@HeaderWidth: 100vw;
@HeaderHeight: 64px;
@NavPosition: sticky;
@NavWidth: 256px;
html {
  /* Init margin and padding. */
  body.memoria-layout * {
    margin: 0;
    padding: 0;
  }
  
  /* Style settings. */
  body.memoria-layout {
    header.memoria-layout__header {
      .screen-small ({
        position: @HeaderPosition;
        width: @HeaderWidth;
        height: 48px;
      });
      .screen-medium ({
        position: @HeaderPosition;
        width: @HeaderWidth;
        height: 64px;
      });
      .screen-large ({
        position: @HeaderPosition;
        width: @HeaderWidth;
        height: 64px;
      });
    }
      
    nav.memoria-layout__navigation {
      .screen-small ({
        position: @NavPosition;
        width: @NavWidth;
        height: 100vh;
      });
      .screen-medium ({
        position: @NavPosition;
        width: @NavWidth;
        height: 100vh;
      });
      .screen-large ({
        position: @NavPosition;
        width: @NavWidth;
        height: 100vh;
      });
    }
  }
}
